* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{ 
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    color: aliceblue;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.navbar-dark{
    background-color: rgba(0, 0, 0, 0.3)
}

.test{
    margin-top : 10%;
    border-radius : 50% ; 
}

.intro{
    margin-top : 10%;
}

.btn p{
    color: white;
    padding: 10px 30px;
    border-radius: 200px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    margin-right: 20 ;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
    margin: 0px;
}

.btn p:hover{
    color: black;
    background-color: white;
}

